{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block page_header %}{{ object.name }}{% endblock %}

{% block vendor_css %}
  {{ block.super }}
{% endblock %}

{% block page_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/detail.css" %}">
{% endblock %}

{% block page_content %}
  <section class="page-detail">
    <div class="row">
      <div class="col-12">
        <!-- heading section start -->
        <div class="card">
          <div class="card-content">
            <div class="detail-images">
              <!-- image -->
              <div class="img-fluid rounded-top detail-image-bg bg-primary">
              </div>
              <!-- image -->
              <img src="{{ object.square_tiny }}" class="detail-main-image rounded bg-white image-full-size"
                   alt="image" width="120" data-full-size-src="{{ object.full_size_url }}">
              <div class="detail-header-text pr-md-2 d-none d-md-block">
                <h4 class="mb-0 text-bold-500 detail-header-text-color">{{ object.name }}</h4>
              </div>
              <div id="watch-mark">
                {% if watched %}
                  <a href="{% url "objects:stop_watch" object.slug %}" data-toggle="tooltip" data-placement="bottom" title="Stop watching"><i class="fad fa-eye success fa-3x"></i></a>
                  {% elif user.is_staff or user.is_superuser %}
                  <a href="{% url "objects:start_watch" object.slug %}" data-toggle="tooltip" data-placement="bottom" title="Start watching"><i class="fad fa-eye-slash info fa-3x"></i></a>
                {% endif %}
              </div>
            </div>
            <!-- detail nav tabs start -->
            <div class="card-body px-0">
              <div class="detail-body-text pr-md-2 d-block d-md-none">
                <h4 class="mb-0 text-bold-500 detail-header-text-color">{{ object.name }}</h4>
              </div>

              <div class="detail-short-description">
                <p>{{ object.short_description|default_if_none:"" }}</p>
              </div>
              <ul
                  class="nav detail-nav justify-content-center justify-content-md-start nav-tabs border-bottom-0 mb-0"
                  role="tablist">
                <li class="nav-item pb-1">
                  <a class="nav-link d-flex px-1 active" id="info-tab" data-toggle="tab"
                     href="#info"
                     aria-controls="info" role="tab" aria-selected="false">
                    <i class="fad fa-info mr-50"></i> <span class="d-none d-md-block pl-50"> Info</span></a>
                </li>

                {% if issues_count > 0 %}
                  <li class="nav-item pb-1">
                    <a class="nav-link d-flex px-1" id="issues-tab" data-toggle="tab"
                       href="#issues"
                       aria-controls="issues" role="tab" aria-selected="false">
                      <i class="fad fa-book-open" aria-hidden="true"></i> <span
                        class="d-none d-md-block pl-50"> Issues </span><span
                        class="ml-1 badge badge-pill badge-round badge-info">{{ issues_count|intcomma }}</span></a>

                  </li>
                {% endif %}

                {% if volumes_count > 0 %}
                  <li class="nav-item pb-1">
                    <a class="nav-link d-flex px-1" id="volumes-tab" data-toggle="tab"
                       href="#volumes"
                       aria-controls="volumes" role="tab" aria-selected="false">
                      <i class="fad fa-book-spells" aria-hidden="true"></i> <span
                        class="d-none d-md-block pl-50"> Volumes </span><span
                        class="ml-1 badge badge-pill badge-round badge-info">{{ volumes_count|intcomma }}</span></a>

                  </li>
                {% endif %}

                {% if request.user.is_staff or request.user.is_superuser %}

                  {% if missing_issues_count %}
                    <li class="nav-item pb-1">
                      <a class="nav-link d-flex px-1" id="missing-issues-tab"
                         href="{% url "missing_issues:category" category='object' slug=object.slug %}">
                        <i class="fad fa-eye"></i> <span
                        class="d-none d-md-block pl-50"> Missing issues <span
                        class="ml-1 badge badge-pill badge-round badge-warning">{{ missing_issues_count|intcomma }}</span></span></a>
                    </li>
                  {% endif %}

                  <li class="nav-item pb-1">
                    <a class="nav-link d-flex px-1" id="tech-tab" data-toggle="tab"
                       href="#tech"
                       aria-controls="tech" role="tab" aria-selected="false">
                      <i class="fad fa-cogs"></i> <span
                        class="d-none d-md-block pl-50"> Technical info</span></a>
                  </li>
                {% endif %}
              </ul>
              <ul
                  class="nav detail-nav justify-content-center justify-content-md-start nav-tabs border-bottom-0 mb-0"
                  role="tablist">
                <li class="nav-item pb-1">
                  <a class="nav-link d-flex px-1 btn btn-info" id="download-link" href="{{ object.download_link }}">
                    <i class="fad fa-download"></i> <span
                      class="d-none d-md-block pl-50"> Download (~{{ size|filesizeformat }})</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- detail nav tabs ends -->
          </div>
        </div>
        <!-- detail heading section ends -->
      </div>
    </div>
    <div class="tab-content">
      <!-- info tab starts -->
      <div class="tab-pane active" id="info" aria-labelledby="info-tab" role="tabpanel">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-5 col-xxl-4 col-4k-2 detail-info">
            <div class="card">
              <div class="card-body">
                <div class="row  pb-1">
                  <div class="col-12 col-md-4 col-fhd-3 pr-0">
                    <strong>Name: </strong>
                  </div>
                  <div class="col-12 col-md-8 col-fhd-9">
                    {{ object.name }}
                  </div>
                </div>

                <div class="row pt-1 pb-1">
                  <div class="col-12 col-md-4 col-fhd-3 pr-0">
                    <strong>Aliases: </strong>
                  </div>
                  <div class="col-12 col-md-8 col-fhd-9">
                    <ul>
                      {% for alias in object.get_aliases_list %}
                        <li>{{ alias }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>

                <div class="row pt-1 pb-1">
                  <div class="col-12 col-md-4 col-fhd-3 pr-0">
                    <strong>Start year: </strong>
                  </div>
                  <div class="col-12 col-md-8 col-fhd-9">
                    {{ object.start_year }}
                  </div>
                </div>

                <div class="row pt-1 pb-1">
                  <div class="col-12 col-md-4 col-fhd-3 pr-0">
                    <strong>First issue: </strong>
                  </div>
                  <div class="col-12 col-md-8 col-fhd-9">
                    {% if object.first_issue %}
                      <a href="{% url "objects:issue_detail" object.slug object.first_issue.slug %}">{{ object.first_issue.volume.name }}
                        #{{ object.first_issue.number }} {{ object.first_issue.name|default_if_none:'' }}</a>
                    {% else %}
                      {{ object.first_issue_name }}
                    {% endif %}
                  </div>
                </div>

                <div class="row pt-1">
                  <div class="col-12">
                    <a href="{{ object.comicvine_url }}" target="_blank">See at ComicVine</a>
                  </div>
                </div>

              </div>
            </div>
            <img src="{{ object.full_size_url }}" alt="cover" class="mt-1 d-none d-md-block image-full-size" width="100%">
          </div>
          <div class="detail-full-description col-12 col-md-6 col-lg-7 col-xxl-8 col-4k-10">
            {{ object.description|default:"<p>No description</p>"|safe }}
          </div>
        </div>
      </div>
      <!-- info tab ends -->

      {% if request.user.is_staff or request.user.is_superuser %}
        <!-- tech info tab starts -->
        <div class="tab-pane fade" id="tech" aria-labelledby="tech-tab" role="tabpanel">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-5 col-xxl-4 col-4k-2 detail-info">
              <div class="card">
                <div class="card-body">
                  <div class="row  pb-1">
                    <div class="col-12 col-md-4 col-fhd-3 pr-0">
                      <strong>ID: </strong>
                    </div>
                    <div class="col-12 col-md-8 col-fhd-9">
                      {{ object.pk }}
                    </div>
                  </div>

                  <div class="row pt-1 pb-1">
                    <div class="col-12 col-md-4 col-fhd-3 pr-0">
                      <strong>ComicVine ID: </strong>
                    </div>
                    <div class="col-12 col-md-8 col-fhd-9">
                      {{ object.comicvine_id }}
                    </div>
                  </div>

                  <div class="row pt-1 pb-1">
                    <div class="col-12 col-md-4 col-fhd-3 pr-0">
                      <strong>ComicVine Status: </strong>
                    </div>
                    <div class="col-12 col-md-8 col-fhd-9">
                      {{ object.get_comicvine_status_display }}
                    </div>
                  </div>

                  <div class="row pt-1 pb-1">
                    <div class="col-12 col-md-4 col-fhd-3 pr-0">
                      <strong>ComicVine last match: </strong>
                    </div>
                    <div class="col-12 col-md-8 col-fhd-9">
                      {{ object.comicvine_last_match|date:"c" }}
                    </div>
                  </div>

                  <div class="row pt-1 pb-1">
                    <div class="col-12 col-md-4 col-fhd-3 pr-0">
                      <strong>Created: </strong>
                    </div>
                    <div class="col-12 col-md-8 col-fhd-9">
                      {{ object.created_dt|date:"c" }}
                    </div>
                  </div>

                  <div class="row pt-1 pb-1">
                    <div class="col-12 col-md-4 col-fhd-3 pr-0">
                      <strong>Modified: </strong>
                    </div>
                    <div class="col-12 col-md-8 col-fhd-9">
                      {{ object.modified_dt|date:"c" }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- tech info tab ends -->
      {% endif %}

      {% if issues_count %}
        <!-- issues tab starts -->
        <div class="tab-pane fade badge-tab" id="issues" aria-labelledby="issues-tab" role="tabpanel">
          <h3>Issues</h3>
          <div class="tab-content">
            {% include "blocks/detail/badges.html" with objects=issues_first_page.object_list pages=issues_pages get_page_function="getIssuesPage" url_template_name="objects/badges_urls/issue.html" break_groups=True %}
          </div>
        </div>
        <!-- issues tab ends -->
      {% endif %}

      {% if volumes_count %}
        <!-- volumes tab starts -->
        <div class="tab-pane fade badge-tab" id="volumes" aria-labelledby="volumes-tab" role="tabpanel">
          <h3>Volumes</h3>
          <div class="tab-content">
            {% include "blocks/detail/badges.html" with objects=volumes_first_page.object_list pages=volumes_pages get_page_function="getVolumesPage" break_groups=True %}
          </div>
        </div>
        <!-- volumes tab ends -->
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block modals %}
  {{ block.super }}
{% endblock %}

{% block vendor_js %}
  {{ block.super }}
{% endblock %}

{% block page_js %}
  {{ block.super }}
  <script !src="">
    let issuesUrl = "{% url "objects:issues" object.slug %}";
    let volumesUrl = "{% url "objects:volumes" object.slug %}";
  </script>
  <script src="{% static "js/sublists.js" %}"></script>
{% endblock %}
