.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.envs
/sonar-project.properties
/release-please-config.json
/README.rst
/pytest.ini
/pyproject.toml
/pylint.txt
/production-run.yml
/production-build.yml
/merge_production_dotenvs_in_dotenv.py
/local.yml
/flake8.txt
/coverage.xml
/conventionalcommit.json
/codecov.yml
/CHANGELOG.md
/.release-please-manifest.json
/.pylintrc
/.gitchangelog.rc
/.env
/.coverage
/.codeclimate.yml
/.pytest_cache/
/.ipython/
