[MASTER]
load-plugins=pylint_django, pylint_celery
django-settings-module=config.settings.local
ignore=migrations,tests

[BASIC]
good-names=i,
           j,
           k,
           e,
           _,
           q,
           qs,
           s3

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=C0111,C0415,R0401,R0801,R0901,R0903

[DESIGN]
max-parents=13
max-attributes=20

[SIMILARITIES]
min-similarity-lines=30

[TYPECHECK]
generated-members=REQUEST,acl_users,aq_parent,"[a-zA-Z]+_set{1,2}",save,delete
