{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load url_extras %}

{% block title %}Volumes{% endblock %}

{% block page_header %}Volumes{% endblock %}

{% block vendor_css %}
  {{ block.super }}
{% endblock %}

{% block page_css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/list.css" %}">
{% endblock %}

{% block page_content %}
  {% if not hide_menu %}
    <div class="row mb-1">
      <div class="col-auto">
        <div class="btn-group dropright mr-1">
          <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            Sort by
          </button>
          <div class="dropdown-menu" style="">
            <a class="dropdown-item justify-content-between" href="{% url_add_query_params ordering='-issue_count' %}">Issues
              <i class="fad fa-sort-numeric-down-alt"></i></a>
            <a class="dropdown-item justify-content-between" href="{% url_add_query_params ordering='issue_count' %}">Issues
              <i class="fad fa-sort-numeric-down"></i></a>
            <a class="dropdown-item justify-content-between" href="{% url_add_query_params ordering='name' %}">Name <i
              class="fad fa-sort-alpha-down"></i></a>
            <a class="dropdown-item justify-content-between" href="{% url_add_query_params ordering='-name' %}">Name <i
              class="fad fa-sort-alpha-down-alt"></i></a>
            <a class="dropdown-item justify-content-between" href="{% url_add_query_params ordering='start_year' %}">Start
              year
              <i class="fad fa-sort-numeric-down"></i></a>
            <a class="dropdown-item justify-content-between" href="{% url_add_query_params ordering='-start_year' %}">Start
              year
              <i class="fad fa-sort-numeric-down-alt"></i></a>
          </div>
        </div>
      </div>
      {% if request.user.is_authenticated %}
        <div class="col-auto">
          <div class="custom-control custom-switch custom-control-inline mt-50">
            <input type="checkbox" class="custom-control-input" {% if hide_finished == 'yes' %}checked{% endif %}
                   id="hide_finished">
            <label class="custom-control-label mr-1" for="hide_finished">
            </label>
            <span>Hide finished volumes</span>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
  <div class="row match-height">
    {% for volume in volumes %}
      {% if breaking == "start_year" %}
        {% ifchanged volume.start_year %}
          <div class="col-12 mb-25">
            <h2><u>{{ volume.start_year }}</u></h2>
          </div>
        {% endifchanged %}
      {% endif %}
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 col-2k-2">
        <div
          class="card card-with-cover div-link {% if volume.finished_count == volume.issue_count %}finished{% endif %}">
          <a class="div-default-link" href="{{ volume.get_absolute_url }}"></a>
          <div class="position-relative mb-2">
            <img class="card-img-top img-fluid"
                 src="


                   {% if volume.thumb_size_url %}{{ volume.thumb_size_url }}{% else %}{% static "images/blanks/original.png" %}{% endif %}"
                 alt="{{ volume.name }}"
            >
            {% if volume.publisher %}
              <div class="card-profile-image">
                <img class="rounded-circle img-border box-shadow-1"
                     src="


                       {% if volume.publisher.square_avatar %}{{ volume.publisher.square_avatar }}{% else %}{% static "images/blanks/square_avatar.png" %}{% endif %}"
                     alt="{{ volume.publisher.name }}"
                >
              </div>
            {% endif %}
            {% if volume.finished_count == volume.issue_count %}
              <div class="finished-mark">
                <i class="fad fa-check-circle success fa-3x"></i>
              </div>
            {% endif %}
          </div>
          <div class="card-header">
            <h4 class="card-title">{{ volume.name }} ({{ volume.start_year }})</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              {{ volume.short_description|default_if_none:"" }}
            </p>

          </div>
          <div class="card-footer">
            <ul class="list-inline list-inline-pipe font-weight-lighter font-size-xsmall">
              {% if volume.publisher %}
                <li>{{ volume.publisher.name }}</li>
              {% endif %}
              <li>{{ volume.issue_count|intcomma }} issue{{ volume.issue_count|pluralize }}</li>
              {% if request.user.is_authenticated %}
                <li>{{ volume.finished_count|intcomma }} finished</li>
                {% if volume.max_finished_date %}
                  <li>{{ volume.max_finished_date|naturaltime }}</li>
                {% endif %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-borderless justify-content-center mt-2">
      {% for page in pages %}
        <li class="page-item {{ page.disabled }} {{ page.active }}"><a class="page-link"
                                                                       href="{% url_add_query_params page=page.num %}">{{ page.num }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endblock %}

{% block modals %}
{% endblock %}

{% block vendor_js %}
  {{ block.super }}
{% endblock %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static "js/hide_finished.js" %}"></script>
{% endblock %}
