.main-menu .navbar-header .navbar-brand .brand-logo {
  background-image: url(../images/logo.png);
  background-position: 0;
  height: 24px;
  width: 24px;
}


.header-navbar .navbar-container ul.nav li a.nav-link-login {
  padding: 1.5rem 0.75rem 1.15rem 0.75rem;
}

.toast-top-right {
  top: 65px
}


.btn i.fad {
  top: 0;
}

.nav.nav-pills .nav-item .nav-link.active {
  box-shadow: 0 2px 4px 0 #39da8a33;
}

.btn-outline-reddit {
  border: 1px solid #ff4500 !important;
  color: #ff4500;
}

.btn-outline-discord {
  border: 1px solid #7289da !important;
  color: #7289da;
}

.pagination.pagination-borderless .page-item.previous .page-link, .pagination.pagination-borderless .page-item.next .page-link {
  background-color: transparent;
}

.div-link {
  /* only required rule to make this work */
  position: relative;
}

.div-link:hover {
  background-color: #E2ECFF !important;
}

.div-link:hover {
  border: 1px solid #00B5B8 !important;
}

.div-default-link {
  /* all rules required to make the whole div clickable */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /* this is a fix for IE7-9 */
  background-color: #ffffff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.nav-link {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.toast-container > div {
  width: 400px
}

@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container > div {
    width: 18em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container > div {
    width: 25em;
  }
}

.modal-backdrop.show {
  opacity: 0.75;
}

.image-full-size {
  cursor: pointer;
}

#full-size-image-modal button.close {
  color: #fff;
  font-size: 3rem;
  position: fixed;
  top: 10px;
  cursor: pointer;
  right: 15px;
}

#full-size-image-modal .modal-body {
  padding: 0;
}

#full-size-image-modal .img-fluid {
  width: 100%
}

.navbar-container .search-input select {
  width: 0;
  border: none;
  background: none;
  line-height: 16px;
  margin: auto 0 auto 5rem;
  display:none
}

.navbar-container .search-input.open select {
  width: 150px;
  color: #475F7B!important;
  border: 1px solid #DFE3E7;
  border-radius: .267rem;
  background-color: #FFF;
  background-clip: padding-box;
  background-image: url(/static/app-assets/images/pages/arrow-down.png);
  background-position: calc(100% - 12px) 13px, calc(100% - 20px) 13px, 100% 0;
  background-size: 12px 12px, 10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  display:block;
}

.navbar-container .search-input input {
  padding: 1.7rem 0;
}

.header-navbar .navbar-container ul.nav li .badge.badge-up {
    position: relative;
    top: -10px;
    left: -15px;
}

.chip .chip-body {
  min-width: 0;
}

#search_query_input {
  color: #727E8C!important;
}

ol ol, ul ul, ol ul, ul ol {
    padding-inline-start: 1.5rem;
}
