{% extends "base.html" %}
{% load url_extras %}
{% load static %}

{% block title %}
  {% if obj %}
    {{ obj }} missing issues
  {% else %}
    Missing issues
  {% endif %}
{% endblock %}

{% block page_header %}
  {% if obj %}
    <a href="{{ obj.get_absolute_url }}">{{ obj }}</a> missing issues
  {% else %}
    Missing issues
  {% endif %}
{% endblock %}

{% block vendor_css %}
  {{ block.super }}
{% endblock %}

{% block page_css %}
  {{ block.super }}
{% endblock %}

{% block page_content %}
  {% include 'missing_issues/issues_table.html' with missing_issues=missing_issues all_cols=True %}
   <nav aria-label="Page navigation">
    <ul class="pagination pagination-borderless justify-content-center mt-2">
      {% for page in pages %}
         <li class="page-item {{ page.disabled }} {{ page.active }}"><a class="page-link" href="{% url_add_query_params page=page.num %}">{{ page.num }}</a></li>
      {% endfor %}
    </ul>
  </nav>
{% endblock %}

{% block modals %}
{% endblock %}

{% block vendor_js %}
  {{ block.super }}
{% endblock %}

{% block page_js %}
  {{ block.super }}
{% endblock %}
