{% extends "base.html" %}
{% load humanize %}

{% load static %}

{% block title %}
  {% if obj %}
    {{ obj }} missing issues
  {% else %}
    Missing issues
  {% endif %}
{% endblock %}

{% block page_header %}
  {% if obj %}
    <a href="{{ obj.get_absolute_url }}">{{ obj }}</a> missing issues
  {% else %}
    Missing issues
  {% endif %}
  <span class="badge badge-warning badge-pill badge-round float-right ml-auto"
        id="this-missing-count-badge">{{ paginator.object_list.count|intcomma }}</span>

{% endblock %}

{% block vendor_css %}
  {{ block.super }}
{% endblock %}

{% block page_css %}
  {{ block.super }}
{% endblock %}

{% block page_content %}
  <div class="search-bar mb-2">
    <!-- input search -->
    <form id="search-form">
      <fieldset>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search..." aria-describedby="search-button"
                 value="{{ q }}" name="q">
          <div class="input-group-append" id="search-button">
            <button class="btn btn-primary" type="submit">
              <span class="d-none d-sm-block">Search</span>
              <i class="bx bx-search d-block d-sm-none"></i>
            </button>
          </div>
        </div>
      </fieldset>
    </form>
    <!--/ input search -->
  </div>
  <div id="table-wrapper">
    {% include 'missing_issues/issues_table.html' with missing_issues=missing_issues all_cols=True %}
  </div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block vendor_js %}
  {{ block.super }}
{% endblock %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static "missing_issues/js/missing_issues.js" %}"></script>
{% endblock %}
