{% load humanize %}
{% if request.user.is_authenticated %}
  <div class="card progress-report-card">
    <div class="card-body">
      {% if base_object %}
        <h5><a href="{{ base_object.get_absolute_url }}">{{ base_object.name }}</a> reading progress</h5>
      {% else %}
        <h5>Reading progress</h5>
      {% endif %}
      <span class="
      {% if finished_percent < 20 %}
      text-danger
      {% endif %}
      {% if finished_percent >= 20 and finished_percent < 80 %}
      text-warning
      {% endif %}
      {% if finished_percent >= 80 %}
      text-success
      {% endif %}
      text-bold-500">{{ finished_count|intcomma }} of {{ total_count|intcomma }}</span>
      <div class="progress
      {% if finished_percent < 20 %}
      progress-bar-danger
      {% endif %}
      {% if finished_percent >= 20 and finished_percent < 80 %}
      progress-bar-warning
      {% endif %}
      {% if finished_percent >= 80 %}
      progress-bar-success
      {% endif %}
      progress-bar-primary
      progress-sm mt-50 mb-md-50">
        <div class="progress-bar" role="progressbar" style="width: {{ finished_percent }}%"
             aria-valuenow="{{ finished_count }}" aria-valuemin="0" aria-valuemax="{{ total_count }}"></div>
      </div>
    </div>
  </div>
{% endif %}
